.lyrics-main-container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.lyrics-title{
    grid-column: 3 / 8;
    margin: -200px 0px 20px 0px;
}
.lyrics-title p{
    color: white;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 18px;
    text-align: center;
}

.search-bar{
    grid-column: 4 / 7;
}
.search-bar input{
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255,255, 0.6);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    height: 75px;
    font-size: 18px;
    letter-spacing: 3px;
}

.search-bar input:focus{
    outline: none;
}

